</main>

<footer>
    <div class="container footer-content">
        <div class="footer-logo">
            <ion-icon name="library-outline"></ion-icon> Biblioteca Central
        </div>
        <p>&copy; 2026 Biblioteca TypeScript V2.1. Todos los derechos reservados.</p>
    </div>
</footer>
</body>

</html>